<?xml version="1.0"?>
<config>
    <sections>
        <payment>
            <groups>
                <z4money_gateway translate="label">
                    <label>Z4money - Configurações</label>
                    <sort_order>100</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <heading_general translate="label">
                            <label>Configurações Gerais</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading_general>
                        <general_api_key translate="label">
                            <label>API Key</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </general_api_key>
                    </fields>
                </z4money_gateway> 
                <z4money_gateway_boleto translate="label">
                    <label>Z4money - Boleto</label>
                    <sort_order>102</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <heading_boleto translate="label">
                            <label>Configurações de Boleto</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading_boleto>
                        <active translate="label">
                            <label>Ativado</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Título da forma de pagamento</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>21</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title>
                        <days_to_boleto_expire translate="label">
                            <label>Dias para o vencimento do boleto</label>
                            <frontend_type>text</frontend_type>
                            <frontend_class>validate-number</frontend_class>
                            <sort_order>24</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </days_to_boleto_expire>
                    </fields>
                </z4money_gateway_boleto>                
				<z4money_gateway_cc translate="label">
                    <label>Z4money - Cartão de Crédito</label>
                    <sort_order>101</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <heading_credit_card translate="label">
                            <label>Configurações de Cartão de Crédito</label>
                            <frontend_model>adminhtml/system_config_form_field_heading</frontend_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                        </heading_credit_card>

                        <active translate="label">
                            <label>Ativado</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Título da forma de pagamento</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </title>
                        <creditcard_max_installments translate="label">
                            <label>Número de parcelas</label>
                            <comment>Min: 1, Max: 12</comment>
                            <frontend_type>text</frontend_type>
                            <frontend_class>validate-digits-range</frontend_class>
                            <validate>digits-range-1-12</validate>
                            <sort_order>12</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </creditcard_max_installments>
                        <creditcard_interest_rate translate="label comment">
                            <label>Taxa de juros (% por mês)</label>
                            <comment>Exemplo 1.99</comment>
                            <frontend_type>text</frontend_type>
                            <frontend_class>validate-number</frontend_class>
                            <sort_order>13</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </creditcard_interest_rate>
                        <creditcard_min_installment_value translate="label comment">
                            <label>Valor mínimo para parcelas (R$)</label>
                            <comment>Exemplo 5.00</comment>
                            <frontend_type>text</frontend_type>
                            <frontend_class>validate-number</frontend_class>
                            <sort_order>14</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </creditcard_min_installment_value>
                        <creditcard_free_installments translate="label">
                            <label>Parcelas sem juros</label>
                            <comment>Exemplo 3 (Os juros serão calculados a partir da terceira parcela)</comment>
                            <frontend_type>text</frontend_type>
                            <frontend_class>validate-number</frontend_class>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </creditcard_free_installments>
                    </fields>
                </z4money_gateway_cc>
            </groups>
        </payment>
    </sections>
</config>
